package templating

templ Index() {
	@Document() {
		<main>
			<map-component
				id="map-component-1"
				data-init="@get('/markers')"
				data-signals-markers
				data-attr:markers="$markers"
			>
				<div id="map"></div>
			</map-component>
		</main>
	}
}
